
  .item{
    border-bottom: 2px solid #d3d3d3;
    padding:40px;
  }
  .item1{
    border-bottom: 2px solid #d3d3d3;
  }
  .cartbutton{
    width: 30%;
    padding: 5px;
    margin-right:10px;
    background:var(--pink);
    color: white;
    font-size: 17px;
    border:none;
    cursor: pointer;
  }
  .cartcontainer{
    margin:40px;
}