.cartlinks{
    display: flex;
    list-style: none;
    padding:20px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    background-color: var(--pink);

  }

  a{
    padding:0 20px;
    text-decoration: none!important;
    color:var(--white)!important;
  }
.underline{
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom:20px;
    color:var(--white)!important;
    
  }
  .underline:hover{
    border-bottom: 2px solid #424242;
  }
